.content {
  height: 90vh;
  width: 90vw;
  margin-left: 5%;
  padding-left: 5%;
   
}

.color-nav{
  position: fixed !important;
  top:0;
  z-index: 1;
  width:100%;
  text-align: center !important;
  font-weight: 900;
}


.name{
  font-family: 'Caveat', cursive;
  font-weight: 1000;
  margin-left: 5%;

}

.contact{
  font-family: 'Righteous', cursive
}


 

.home-img{
  width: 90%;
  height:90%;

}

.home-container{
  width:50vw;
  height:50vh;
  margin-left: 15%;
  padding-left: 15%;
}

.App{
  background-color: #92918d;
  background-image: linear-gradient(132deg, #726b72 50%, #770fbd 100%);
  width: 100vw;
  height: 100vh;;
}

.cards{
  display: flex;
  flex-flow: row wrap; 
  padding: 50px;
  align-content: flex-start;
  
  /* background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); */
}

.cardBody{
  padding: 200px;
  background-image: linear-gradient(132deg, #726b72 50%, #770fbd 100%);
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}